
* {
    font-family: "Outfit";
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/background-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Navigation Links */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0 20%;
    width: 100vw;
}

nav {
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

nav h1 {
    width: 100px;
    font-weight: 625;
    font-size: 30px;
    padding-top: 20px
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;
}

.nav-links a {
    margin-top: 5%;
    height: 100%;
    font-weight: 500;
    font-size: 25px;
    transition: 0.3s ease;
    border-bottom: 4px solid transparent;
}   

.nav-links a:hover, .nav-links .active  {
    border-bottom: #B74B48 4px solid;
    color: #B74B48;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-top: 30px;
}

.menu-toggle span {
    height: 4px;
    width: 40px;
    background-color: #B74B48;
    margin: 4px 0;
    border-radius: 2px;
}

#menu-checkbox {
    display: none;
}

/*Sections*/

section {
    min-height: 80vh;
    width: 100%;         /* no more 100vw */
    padding: 10% 20%;  
}

/*Footer*/

footer {
    width: 100vw;
    padding: 0 20%;
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.footer-content img {
    width: 30px;
    margin-right: 10px;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.footer-line {
    width: 100%; 
    height: 2px;
    background-color: #B74B48;
    margin: 0 auto;
}

footer p {
    font-family: "Roboto";
    font-weight: 300;
    text-wrap: nowrap;
}

@media (max-width: 1024px) {
    
    body {
        overflow-x: hidden; 
    }

    header {
        padding: 0 15%;
        position: relative;
    }

    section {
        padding: 5% 5%;
    }

    /* Burger Navigation */
    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: #370000c0;
        padding: 50px;
        gap: 50px;
        backdrop-filter: blur(5px);
        border-radius: 15px;
        height: 40vh;
    }

    .nav-links a {
        margin-top: 0;
    }

    .menu-toggle {
        display: flex;
    }

    #menu-checkbox:checked + .menu-toggle + .nav-links {
        display: flex;
    }

    .main-footer {
        gap: 0;
    }
}

@media (max-width: 768px) {

   
    
    footer {
        font-size: 15px;
    }

    .footer-line {
        width: 100%; 
    }

    .main-footer {
        flex-direction: column;
        gap: 0;
    }

    .footer-content {
        display: flex;
        padding: 15px;
    }
}

@media (max-width: 412px) {
    footer {
        font-size: 12px;
    }

    .footer-content img {
        width: 20px;
    }

    .nav-links a {
        font-size: 20px;
    }
}

